@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Listado de Roles";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="container body-content">
        <h2>Listado de Roles</h2>

        @Html.ActionLink("Crear Nuevo Rol", "Create") | @Html.ActionLink("Administrar Rol de Usuario", "ManageUserRoles")
        <hr />
        <div>
            @foreach (var role in Model)
            {
                <p>
                    <strong>@role.Name | </strong>
                    <span onclick="return confirm('¿Estás seguro que deseas eliminar?')"><a href="/Role/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Eliminar</a></span> |
                    @Html.ActionLink("Editar", "Edit", new { roleName = @role.Name })
                </p>
            }
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
</body>
</html>       
